<a href="https://colab.research.google.com/github/mariaeduardagimenes/PythonTutorial/blob/master/Operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operadores aritméticos


| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
|     +    | Adição        | a = 3 + 2                  |
|     -    | Subtração     | b = 7 - a                  |
|     *    | Multiplicação | c = a * b                  |
|     /    | Divisão       | d = 10/3                   |
|    //    | Quociente     | e = 10//3                  |
|     %    | Resto         | f = 10%3                   |
|    **    | Exponenciação | g = 2 ** 3                 |
|    **    | Radiciação    | h = 16 ** (1/2)            |

In [ ]:
a = 3 + 2
print(a)

In [ ]:
b = 7 - a
print(b)

In [ ]:
c = a * b
print(c)

In [ ]:
d = 10 / 3
print(d)

In [ ]:
e = 10 // 3
print(e)

In [ ]:
f = 10 % 3
print(f)

In [ ]:
g = 2 ** 3
print(g)

In [ ]:
h = 16 ** (1/2)
print(h)

# Operadores de atribuição do Python


| Operador | Exemplo | Significado |
|:---|:---|:---|
|     =    | a = 5 | Atribuição simples |
| += | a += 2 | a = a + 2 |
| -= | a -= 2 | a = a - 2 |
| \*= | a \*= 2 | a = a \* 2 |
| /= | a /= 2 | a = a / 2 |
| //= | a //= 2 | a = a // 2 |
| %= | a %= 2 | a = a % 2 |
| \*\*= | a \*\*= 2 | a = a \*\* 2 |

In [ ]:
a = 5
print(a)

In [ ]:
a += 2
print(a)

In [ ]:
a -= 2
print(a)

In [ ]:
a *= 2
print(a)

In [ ]:
a /= 2
print(a)

In [ ]:
a = 7
a //= 2
print(a)

In [ ]:
a = 7
a %= 2
print(a)

In [ ]:
a = 3
a **= 2
print(a)

# Operadores relacionais (operadores de comparação)

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| == | Igualdade | a == b |
| != | DesiIgualdade | a != b |
| > | Maior que | a > b |
| < | Menor que | a < b |
| >= | Maior ou igual | a >= b |
| <= | Menor ou igual | a <= b |

In [ ]:
a = 5
b = 3
a == b

In [ ]:
a != b

In [ ]:
a > b

In [ ]:
a < b

In [ ]:
a >= b

In [ ]:
b <= a

# Operadores lógicos (conectivos lógicos)

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| and | **E** lógico | a == b and b == c |
| or | **OU** lógico | a == b or b == c |
| ^ | **OU** exclusivo (XOR) | a == b ^ b == c |
| not | Negação (inverte o resultado lógico) | not(a == b and b == c) |

### Tabela verdade (AND)

| a | b | a and b |
|:--:|:--:|:--:|
| True  | True  | **True** |
| True  | False | False |
| False | True  | False |
| False | False | False |

| a | b | c | a and b and c |
|:--:|:--:|:--:|:--:|
| True  | True  | True  | **True** |
| True  | True  | False | False |
| True  | False | True  | False |
| True  | False | False | False |
| False | True  | True  | False |
| False | True  | False | False |
| False | False | True  | False |
| False | False | False | False |

### Tabela verdade (OR)

| a | b | a and b |
|:--:|:--:|:--:|
| True  | True  | **True** |
| True  | False | **True** |
| False | True  | **True** |
| False | False | False |

### Tabela verdade (XOR)

| a | b | a ^ b |
|:--:|:--:|:--:|
| True  | True  | False |
| True  | False | **True** |
| False | True  | **True** |
| False | False | False |

### Tabela verdade (NOT)
| a | not(a) |
|:--:|:--:|
| True  | False |
| False | **True** |

In [ ]:
# TABELA DO AND (com 2 booleanos)
print(" x     | y     | x and y ")
print("-------------------------")
print(" True  | True  |", True and True )
print(" True  | False |", True and False )
print(" False | True  |", False and True)
print(" False | False |", False and False)

In [ ]:
# TABELA DO AND (com 3 booleanos)
print(" x     | y     | z     |  x and y and z ")
print("----------------------------------------")
print(" True  | True  | True  |",True and True and True)
print(" True  | True  | False |",True and True and False)
print(" True  | False | True  |",True and False and True)
print(" True  | False | False |",True and False and False)
print(" False | True  | True  |",False and True and True)
print(" False | True  | False |",False and True and False)
print(" False | False | True  |",False and False and True)
print(" False | False | False |",False and False and False)

In [ ]:
# TABELA DO OR
print(" x     | y     | x or y ")
print("-------------------------")
print(" True  | True  |",True or True )
print(" True  | False |",True or False )
print(" False | True  |",False or True)
print(" False | False |",False or False)

In [ ]:
# TABELA DO XOR (EXCLUSIVE OR)
print(" x     | y     | x ^ y ")
print("-------------------------")
print(" True  | True  |",True ^ True )
print(" True  | False |",True ^ False )
print(" False | True  |",False ^ True)
print(" False | False |",False ^ False)

In [ ]:
# TABELA DO NOT
print(" x     | not(x) ")
print("----------------")
print(" True  |",not(True))
print(" False |",not(False))

# Operadores de identidade

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| is | Verifica se duas referências apontam para o mesmo objeto | a is b |
| is not | Verifica se duas referências apontam para diferentes objetos | a is not b |

Veja um [exemplo](https://bit.ly/2YXrQAD) bem intuitivo que criei no Pythontutor.

In [ ]:
a = 5
b = 5
c = a
print("a is b = ", a is b)
print("a is c = ", a is c)
print("b is c = ", b is c)
print("a is not b = ", a is not b)
print("a is not c = ", a is not c)
print("b is not c = ", b is not c)

In [ ]:
1015 // 60

In [ ]:
1015 % 60